USE [master]
GO
/****** Object:  Database [Bondora]    Script Date: 27/02/2019 03:55:38 ******/
CREATE DATABASE [Bondora]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bondora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bondora]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerCarts]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[IsCheckedOut] [bit] NOT NULL,
	[InventoryItem_Id] [int] NULL,
	[CustomerName] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[RentDays] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CustomerCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EquipmentsTypes]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentsTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[LoyaltyPoint] [int] NOT NULL,
	[RentTerms] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EquipmentsTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeeSetups]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeSetups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeeTypeName] [nvarchar](max) NULL,
	[TypeofRent_Id] [int] NULL,
	[Fee] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.FeeSetups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentsType_Id] [int] NULL,
	[EquipmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentReadingTypes]    Script Date: 27/02/2019 03:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentReadingTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeofRent] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PaymentReadingTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'48c8a50d-d479-4340-8cbf-319108673589', N'gbengaoluyide@gmail.com', 0, N'ADhqfcfbYKfrJWPOorQig+YzCNJ+M4wRJbMbTsbyiknHTo1fU1ctawyyDj9FHoM+aQ==', N'7d9734b5-06e8-4c3d-9638-aa8e85192fd8', NULL, 0, 0, NULL, 1, 0, N'gbengaoluyide@gmail.com')
SET IDENTITY_INSERT [dbo].[CustomerCarts] ON 

INSERT [dbo].[CustomerCarts] ([Id], [UserId], [IsCheckedOut], [InventoryItem_Id], [CustomerName], [StartDate], [EndDate], [RentDays]) VALUES (5, N'48c8a50d-d479-4340-8cbf-319108673589', 1, 5, N'gbengaoluyide@gmail.com', CAST(0x0000A9FE00000000 AS DateTime), CAST(0x0000AA0100BC240D AS DateTime), 3)
INSERT [dbo].[CustomerCarts] ([Id], [UserId], [IsCheckedOut], [InventoryItem_Id], [CustomerName], [StartDate], [EndDate], [RentDays]) VALUES (8, N'48c8a50d-d479-4340-8cbf-319108673589', 1, 1, N'gbengaoluyide@gmail.com', CAST(0x0000A9FE00000000 AS DateTime), CAST(0x0000AA040147C6E2 AS DateTime), 6)
INSERT [dbo].[CustomerCarts] ([Id], [UserId], [IsCheckedOut], [InventoryItem_Id], [CustomerName], [StartDate], [EndDate], [RentDays]) VALUES (9, N'48c8a50d-d479-4340-8cbf-319108673589', 1, 1, N'gbengaoluyide@gmail.com', CAST(0x0000A9FE00000000 AS DateTime), CAST(0x0000AA07014990BF AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[CustomerCarts] OFF
SET IDENTITY_INSERT [dbo].[EquipmentsTypes] ON 

INSERT [dbo].[EquipmentsTypes] ([Id], [TypeName], [LoyaltyPoint], [RentTerms]) VALUES (1, N'Heavy', 2, N'one-time rental fee plus premium fee for each day rented')
INSERT [dbo].[EquipmentsTypes] ([Id], [TypeName], [LoyaltyPoint], [RentTerms]) VALUES (2, N'Regular', 1, N'one-time rental fee plus premium fee for the first 2 days plus regular fee for the number of days over 2.
')
INSERT [dbo].[EquipmentsTypes] ([Id], [TypeName], [LoyaltyPoint], [RentTerms]) VALUES (3, N'Specialized', 1, N'premium fee for the first 3 days plus regular fee times the number of days over 3.
')
SET IDENTITY_INSERT [dbo].[EquipmentsTypes] OFF
SET IDENTITY_INSERT [dbo].[FeeSetups] ON 

INSERT [dbo].[FeeSetups] ([Id], [FeeTypeName], [TypeofRent_Id], [Fee]) VALUES (1, N'OneTime', 1, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[FeeSetups] ([Id], [FeeTypeName], [TypeofRent_Id], [Fee]) VALUES (2, N'PremiumDaily', 2, CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[FeeSetups] ([Id], [FeeTypeName], [TypeofRent_Id], [Fee]) VALUES (3, N'RegularDaily', 2, CAST(40.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FeeSetups] OFF
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [EquipmentsType_Id], [EquipmentName]) VALUES (1, 1, N'Caterpillar bulldozer')
INSERT [dbo].[Inventories] ([Id], [EquipmentsType_Id], [EquipmentName]) VALUES (2, 2, N'KamAZ truck')
INSERT [dbo].[Inventories] ([Id], [EquipmentsType_Id], [EquipmentName]) VALUES (3, 1, N'Komatsu crane')
SET IDENTITY_INSERT [dbo].[Inventories] OFF
SET IDENTITY_INSERT [dbo].[PaymentReadingTypes] ON 

INSERT [dbo].[PaymentReadingTypes] ([Id], [TypeofRent]) VALUES (1, N'One-Time')
INSERT [dbo].[PaymentReadingTypes] ([Id], [TypeofRent]) VALUES (2, N'Daily')
SET IDENTITY_INSERT [dbo].[PaymentReadingTypes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27/02/2019 03:55:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 27/02/2019 03:55:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryItem_Id]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_InventoryItem_Id] ON [dbo].[CustomerCarts]
(
	[InventoryItem_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeofRent_Id]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_TimeofRent_Id] ON [dbo].[FeeSetups]
(
	[TypeofRent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EquipmentsType_Id]    Script Date: 27/02/2019 03:55:39 ******/
CREATE NONCLUSTERED INDEX [IX_EquipmentsType_Id] ON [dbo].[Inventories]
(
	[EquipmentsType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerCarts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [StartDate]
GO
ALTER TABLE [dbo].[CustomerCarts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [EndDate]
GO
ALTER TABLE [dbo].[EquipmentsTypes] ADD  DEFAULT ((0)) FOR [LoyaltyPoint]
GO
ALTER TABLE [dbo].[FeeSetups] ADD  DEFAULT ((0)) FOR [Fee]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CustomerCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerCarts_dbo.Inventories_InventoryItem_Id] FOREIGN KEY([InventoryItem_Id])
REFERENCES [dbo].[Inventories] ([Id])
GO
ALTER TABLE [dbo].[CustomerCarts] CHECK CONSTRAINT [FK_dbo.CustomerCarts_dbo.Inventories_InventoryItem_Id]
GO
ALTER TABLE [dbo].[FeeSetups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FeeSetups_dbo.PaymentReadingTypes_TimeofRent_Id] FOREIGN KEY([TypeofRent_Id])
REFERENCES [dbo].[PaymentReadingTypes] ([Id])
GO
ALTER TABLE [dbo].[FeeSetups] CHECK CONSTRAINT [FK_dbo.FeeSetups_dbo.PaymentReadingTypes_TimeofRent_Id]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inventories_dbo.EquipmentsTypes_EquipmentsType_Id] FOREIGN KEY([EquipmentsType_Id])
REFERENCES [dbo].[EquipmentsTypes] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_dbo.Inventories_dbo.EquipmentsTypes_EquipmentsType_Id]
GO
USE [master]
GO
