@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Assignment</h1>
    <p class="lead">This rental site has potential to become a multinational and multilingual platform with hundreds of thousands of users. <b>Please Click on the Rent Now link</b></p>
    <h1>@Html.ActionLink("Rent Now", "Index", "Inventories")</h1>
</div>

<div class="row">
    <h3 class="col-lg-offset-6">Prices</h3>
    <div class="col-lg-offset-1">
        <div class="col-md-4">

            <h2>One Time</h2>
            <p>
                This goes for 100 Euros
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Premium Daily</h2>
            <p>This goes For 60 Euros</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Regular Daily</h2>
            <p>This goes for 40 Euros</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>